<h1>Create a new Product</h1>
<form (submit)='onSubmit'>
  Title: <input type="text" name="title"
    [(NgModel)]="product.title"

    required
    minlength='4'>
    <!-- <div class="red" *ngIf='title.errors && (title.touched || regForm.submitted)'>
      <span *ngIf='title.errors.required'>Title is required</span>
      <span *ngIf='title.errors.minlength'>Title must be at least 4 characters long</span>
    </div><br> -->

  Price: <input type="number" name="price"
    [(NgModel)]="product.price"

    required
    pattern='^\$?(([1-9][0-9]{0,2}(,[0-9]{3})*)|[0-9]+)?\.[0-9]{2}$'>
    <!-- <div class="red" *ngIf='price.errors && (price.touched || regForm.submitted)'>
      <span *ngIf='price.errors.required'>Please enter a price</span>
      <span *ngIf='price.errors.pattern'>Price must be valid</span>
    </div> -->


</form>
