<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<body>
   <h1>Edit <%= mongoose['name'] %> here</h1>
   <form action="/edit/<%= mongoose['_id'] %>" method="post">
      Mongoose Name: <input type="text" name="name"><br> Mongoose Age: <input type="number" name="age"><br>
      <input type="submit" value="Update">
   </form>
   <a href="/"><button id="main">Mongoose List</button></a>
</body>
</html>
