










/* ============Headermain portion style ========== */
*{
  vertical-align: top;
  font: verdana;
}
a{
  color: #7dadd8;
}
.container{
  width: 970px;
  background: linear-gradient(#245176, white  );
}
.header-main img{
  width: 400px;
  display: inline-block;
}
.textform{
  display: inline-block;
  margin-left: 300px;
}
.textform p{
  text-align: right;
  margin-right: 20px;
  margin-bottom: 1px;
  color: white;
}
.one{
  color: black;
}
.form{
  background-color: grey;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  box-shadow: 10px 11px 28px -10px rgba(0,0,0,0.75);
}
.search{
  text-align: center;
  padding: 5px;
}
.go{
  padding: 5px;
  border-radius: 8px;
  background-color: #245176;
  color: white;
}

/* ======= Header Portion ==========*/

.header{
  background-color: #3d79ad;
  margin-left: 40px;
  margin-right: 20px;
  box-shadow: 10px 11px 28px -7px rgba(0,0,0,0.75);
}
.header h2{
  display: inline-block;
  margin-left: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

/* ======= NavUl =======*/

.navul{
  display: inline-block;
  margin-left: 50px;
  margin-top: 40px;
  color: white;
}
.navul ul li{
  list-style-position: inside;
}

.content-preface{
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}
.content-preface h4{
  color: white;
}
.contentwhite {
  width: 600px;
  color: white;
}
.yellowp{
  margin-top: 5px;
  margin-bottom: 5px;
  color: yellow;
  font-style: italic;
}




.content-wrap{
  background-color: white;
}

.content-left{
  width: 300px;
  display: inline-block;
  text-align: center;
  padding: 40px;
  padding-top: 0px;
  border-top: 5px solid grey;
  margin-top: 10px;
  margin-left: 100px;
}
.content-left h4{
  margin:  5px;
}
.content-left p{
  margin: 0px;
}
.content-left ul li{
  color: #7dadd8;
}
.content-right{
  width: 300px;
  display: inline-block;
  text-align: center;
  padding: 40px;
  padding-top: 0px;
  border-top: 5px solid grey;
  margin-top: 10px;
  margin-left: 10px;
}
.content-right h4{
  margin: 5px;
}
.content-right p{
  margin: 0px;
}
.content-right ul li{
  color: #7dadd8;
}
.footer{
  background-color: #99aebf;
}
.footer h4{
  display: inline-block;
  margin-left: 120px;
  margin-bottom: 5px;
}
.footer p{
  text-align: center;
}
