<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello, {{ request.session.name }}</h1>
    <form action="/secretpost">
        {% csrf_token %}
        <textarea name="secretpost" cols="30" rows="10"></textarea>
        <input type="submit" value="Post">
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="/secrets/">Most Popular Secrets</a>
    <h1>Recent Secrets</h1>
    {% for secret, liked, time in secrets %}
        <p>{{ secret.info }}
            {{ time.days }}
            {{ time.hours }}
            {{ secret.like_count }} likes
            {% if liked %} -- you liked this
            {% else %}
                <form action="/like/{{ secret.id }}/{{ request.session.id }}" method="POST">
                {% csrf_token %}
                    <input type="submit" name="submit" value="Like">
                </form>
            {% endif %}
            {% if request.session.id ==  secret.user.id %}
                <form class="button" action="/delete/{{secret.id}}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="submit" value="Delete">
                </form>
            {% endif %}
        </p>
    {% endfor %}


</body>
</html>