<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header">
            <a href="/books">Home</a>
            <a href="">Logout</a>
        </div>
        <div class="heading">
            {{books.title}}
            <p>Author: {{books.author.name}}</p>
        </div>
        <div class="reviews">
            <h4>Reviews:</h4>
            {%if reviews%}
            {%for review in reviews%}
            <p><a href="/user/{{review.user.id}}">{{review.user.first_name}}</a> says: {{review.review}}</p>
            <p>Posted on: {{review.createdAt}}</p>
            {%endfor%}
            {%endif%}

        </div>
        <div class="addreview2">
            <p>Add a review:</p>
            <form action="/create/review/{{books.id}}" method="POST">
                {% csrf_token %}
                <textarea rows="8" cols="15" name="review"></textarea>
                <p>Rating:</p>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Add Book and Review">
            </form>
        </div>
    </body>
</html>