<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header">
            <a href="/books">Home</a>
            <a href="">Logout</a>
        </div>
        <div class="addreview">
            <form action="/books/submit" method="POST">
                {% csrf_token %}
                <h4>Add a New Book Title and a Review</h4>
                <p>Book Title:</p>
                <input type="text" name="booktitle">
                <p>Author:</p>
                <p>Choose from the list: </p>
                <select name="listauthor">
                    <option value="#"></option>
                </select>
                <p>Or add a new author: </p>
                <input type="text" name="first_name">
                <input type="text" name="last_name">
                <p>Review</p>
                <textarea rows="8" cols="30" name="review"></textarea>
                <p>Rating: </p>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Add Book and Review">
            </form>
        </div>
    </body>
</html>