<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header">
            <a href="/books">Home</a>
            <a href="/books/add">Add Book and Review</a>
            <a href="">Logout</a>
        </div>
        <div>
        <p>Name: {{users.first_name}}</p>
        <p>Email: {{users.email}}</p>
        <p>Total Reviews: {{total}}</p>
        </div>
        <div>
            <p>Posted Reviews on the following books:</p>
            {%for review in reviews%}
            <ul>
                <li><a href="/books/{{review.book.id}}"></a>{{review.book.title}}</li>
            </ul>
            {%endfor%}
        </div>
    </body>
</html>