.main-content{
   width: 500px;
   border: 2px solid black;
   /*clear: both;*/
}
#reg{
   width: 500px;;
}
.red{
   color: red;
}

.green{
   color: green;
}
label{
   width: 175px;
   /*border: 1px solid black;*/
   display: inline-block;
   text-align: right;
}
