<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
</head>
<body>
    <div id="container"></div>
    <div id="survey">
        <div id="form">
            <form action="/process" method="post">
                Your Name: <input type="text" in = 
            </form>
        </div>
    </div>
</body>
</html>