*{
  font-family: verdana;
}

.container{
  width: 970px;
  background-color: black;
}

.header{
  background-color: #1a1a1a;
  padding: 10px;
}
.header img{
  display: inline-block;
}
.header p{
  display: inline-block;
  color: white;
  vertical-align: top;
  margin-left: 530px;
}


.navbar{
  background-image: linear-gradient(to bottom, #454545 0%, #000000 100%);

}
.navbar p{
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 5px;
  color: grey;
  font-weight: bold;
  font-size: 0.9em;
}
#home{
  border-right: 1px solid grey;
}
#blog{
  border-right: 1px solid grey;
}
#portfolio{
  border-right: 1px solid grey;
}
#shortcodes{
  border-right: 1px solid grey;
}
#features{
  border-right: 1px solid grey;
}
#contacts{
  border-right: 1px solid grey;
  padding-right: 270px;
}
.greaterthan{
  font-size: 8px;
}


.ipsumblock{
  background-color: #1a1a1a;
  border-top: 3px solid darkgrey;
  vertical-align: top;
}
.ridiculus{
  display: inline-block;
  width: 230px;
  padding:10px;
}
.ridiculus img{
  display: inline-block;
  margin-bottom: 70px;
}
.ridiculuscontent{
  display: inline-block;
  width: 170px;
}
.ridiculuscontent h4{
  margin-bottom: 0px;
  color: #d06725;
}
.ridiculuscontent p{
  color: white;
  font-size: 0.86em;
}
.ipsum{
  display: inline-block;
  width: 230px;
}
.ipsum img{
  display: inline-block;
  margin-bottom: 70px;
}
.ipsumcontent{
  display: inline-block;
  width: 170px;
}
.ipsumcontent h4{
  margin-bottom: 0px;
  color: #d06725;
}
.ipsumcontent p{
  color: white;
  font-size: 0.86em;
}
.tellus{
  display: inline-block;
  width: 230px;
}
.tellus img{
  display: inline-block;
  margin-bottom: 70px;
}
.telluscontent{
  display: inline-block;
  width: 170px;
}
.telluscontent h4{
  margin-bottom: 0px;
  color: #d06725;
}
.telluscontent p{
  color: white;
  font-size: 0.86em;
}
.sem{
  display: inline-block;
  width: 230px;
}
.sem img{
  display: inline-block;
  margin-bottom: 70px;
}
.semcontent{
  display: inline-block;
  width: 170px;
}
.semcontent h4{
  margin-bottom: 0px;
  color: #d06725;
}
.semcontent p{
  color: white;
  font-size: 0.86em;
}



.bibendum{
  background-color: black;
  color: white;
  vertical-align: top;
}
.bibendumcontent{
  width: 770px;
  display: inline-block;
  padding: 25px;
}
.bibendumcontent h3{

}
.bibendumcontent p{

}
.buynow{
  display: inline-block;
  padding: 10px 25px 10px 25px;
  color: white;
  background-color: #f1934d;
  border-radius: 10px;
  margin-right: 20px;
  vertical-align: top;
  margin-top: 60px;
}



.portfoliocontainer{
  background-color: #1a1a1a;
  vertical-align: top;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.portfoliocontainer h5{
  color:#d06725;
}
.portfoliocontainer p{
  color: white;
  font-size: 0.88em;
}
.portfolioheader{

}
.portfolioheader h4{
  color: white;
  display: inline-block;
}
.portfolioheader a{
  display: inline-block;
  font-style: italic;
  color: #d06725;
  font-size: 10px;
  margin-left: 710px;

}

.content1{
  display: inline-block;
  width: 220px;
}
.content1 img{
  border: 5px solid grey;
}
.content2{
  display: inline-block;
  width: 220px;
}
.content2 img{
  border: 5px solid grey;
}
.content3{
  display: inline-block;
  width: 220px;
}
.content3 img{
  border: 5px solid grey;
}
.content4{
  display: inline-block;
  width: 220px;
}
.content4 img{
  border: 5px solid grey;
}

#back{
  text-align: right;
  font-size: 10px;
  color: grey;
}
