<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pokes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <h1>Welcome, {{request.session.name}}</h1>
        <h3>{{pokecount}} people poked you!</h3>
        <div class="pokes">
            {% for poke in userpoked %}
            <p>{{poke.user.name}} poked you {{poke.poked.count}} times.</p>
            {% endfor %}
        </div>
        <div class="youpoke">
            <p>People you may want to poke</p>
            <table>
                
            <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Email Address</th>
                <th>Poke History</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
                <tr>
                <form action="pokeuser" method="POST">
                    {% csrf_token %}
                    <td>{{user.name}}</td>
                    <td>{{user.alias}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.poked.count}}</td>
                    <input type="hidden" name="thepoked" value="{{user.id}}">
                    <td><a href="/pokeuser"><input type="submit" value="Poke!"></a></td>
                </form>
                </tr>
                {% endfor %}
            </table>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>