










/* ============Headermain portion style ========== */
*{
  vertical-align: top;
}
a{
  color: yellow;
}
.container{
  width: 970px;
  background: linear-gradient(#245176, white  );
}
.header-main img{
  width: 400px;
  display: inline-block;
}
.textform{
  display: inline-block;
  margin-left: 300px;
}
.textform p{
  text-align: right;
  margin-right: 20px;
  margin-bottom: 1px;
  color: white;
}
.one{
  color: black;
}
.form{
  background-color: grey;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}
.search{
  text-align: center;
  padding: 5px;
}
.go{
  padding: 5px;
  border-radius: 8px;
  background-color: #245176;
  color: white;
}

/* ======= Header Portion ==========*/

.header{
  background-color: #3d79ad;
  margin-left: 20px;
  margin-right: 20px;
}
.header h2{
  display: inline-block;
  margin-left: 50px;
}
