<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Full Friends</title>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <h1>Friends:</h1>

            <div id="tableContent">
                <table>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Friend Since</th>
                    {% for i in friends %}
                    <tr>
                        <td>{{ i['name'] }}</td>
                        <td>{{ i['age'] }}</td>
                        <td>{{ i['friends_since'] }}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>

            <h1>Add a Friend:</h1>
            <form action="/add" method="post">
                <p>Name: <input type="text" name="name"></p>
                <p>Age: <input type="text" name="age"></p>
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
