<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div.container{
            width: 150px;
            height: 150px;
            display: inline-block;
            border: 1px solid silver;
            text-align: center;
        }
        .activities{
            width:100%;
            height: 130px;
            border: 1px solid silver;
        }
    </style>
</head>
<body>
    <div class = 'countercontainer'>
        <p>Your Gold = {{ session['gold'] }}</p>
        <p>
        <form action="/reset", method="post">
             <input type="submit" value="Reset Gold">
        </form>
        </p>

    </div>
    <div class="container farm">
        <h3>Farm</h3>
        <p>(earns 10-20 gold)</p>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="farm" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="container cave">
        <h3>Cave</h3>
        <p>(earns 5-10 gold)</p>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="cave" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="container house">
        <h3>House</h3>
        <p>(earns 2-5 gold)</p>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="house" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="container casino">
        <h3>Casino</h3>
        <p>(earns/takes 0-50 gold)</p>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="casino" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="activitiescontainer">
        <p>activities</p>
        <div class="activities">
            {{ session['ptag'] }}
        </div>
    </div>

</body>
</html>