.wrapper{
  width: 970px;
  background-color: #1c345e;
  padding: 10px;
}
p, h3, ul, li{
  color: white;
}

a{
  color: #42b983;
}

.bluefont{
  color: #717be6;
}

.header{
  width: 100%;
  background-color: #ce3036;
  border-radius: 10px;
  color: white;
}

.nav{
  width: 200px;
  display: inline-block;
  background-color: #2a7d8c;
  vertical-align: top;
  padding: 10px;
  border-radius: 10px;
}

.main-content{
  width: 700px;
  display: inline-block;
  background-color: #0e1822;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}
.footer{
  width: 100%;
  padding: 5px;
  background-color: #5e6673;
  border-radius: 10px;
  margin-top: 5px;
}
