<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<style type="text/css">
   .heading{
      border-bottom: 2px solid black;
   }
</style>
<body>
   <h1 class="heading">The Dojo Message Board</h1>

   <form action="" method="post">
      <div class="name">Name:</div>
      <input type="text" name="name">
      <div class="messageInput">Message</div>
      <textarea name="message" rows="8" cols="80"></textarea>
      <input type="submit" name="submit">
   </form>

   <div class="message">

      <p>Name: </p>
      <p>Message: </p>
      <ul>
         <li></li>
      </ul>
   </div>
</body>
</html>
